## Homework

### Download the green taxi trips data for November 2025

In [1]:
! wget https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet

--2026-02-05 07:13:13--  https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 99.84.149.182, 99.84.149.165, 99.84.149.117, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|99.84.149.182|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1164775 (1.1M) [binary/octet-stream]
Saving to: ‘green_tripdata_2025-11.parquet’

green_tripdata_2025 100%[===================>]   1.11M  --.-KB/s    in 0.08s

2026-02-05 07:13:13 (13.2 MB/s) - ‘green_tripdata_2025-11.parquet’ saved [1164775/1164775]

### Download dataset with zones

In [2]:
! wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2026-02-05 07:13:21--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 20.26.156.215
Connecting to github.com (github.com)|20.26.156.215|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://release-assets.githubusercontent.com/github-production-release-asset/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?sp=r&sv=2018-11-09&sr=b&spr=https&se=2026-02-05T08%3A06%3A23Z&rscd=attachment%3B+filename%3Dtaxi_zone_lookup.csv&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2026-02-05T07%3A05%3A45Z&ske=2026-02-05T08%3A06%3A23Z&sks=b&skv=2018-11-09&sig=xiJdWqj%2B%2Fxl61KxmkhAXg1o1so6zsqtk%2Fs1xw8xS3L8%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc3MDI3NTkwMSwibmJmIjoxNzcwMjc1NjAxLCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.MrbodM1J1ijUJNodp4hIc0cFe832lIV80i5EAl1TQ5k&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2026-02-05 07:13:21--  https://release-assets.githubusercontent.com/github-production-release-asset/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?sp=r&sv=2018-11-09&sr=b&spr=https&se=2026-02-05T08%3A06%3A23Z&rscd=attachment%3B+filename%3Dtaxi_zone_lookup.csv&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2026-02-05T07%3A05%3A45Z&ske=2026-02-05T08%3A06%3A23Z&sks=b&skv=2018-11-09&sig=xiJdWqj%2B%2Fxl61KxmkhAXg1o1so6zsqtk%2Fs1xw8xS3L8%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc3MDI3NTkwMSwibmJmIjoxNzcwMjc1NjAxLCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.MrbodM1J1ijUJNodp4hIc0cFe832lIV80i5EAl1TQ5k&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving release-assets.githubusercontent.com (release-assets.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to release-assets.githubusercontent.com (release-assets.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0s

2026-02-05 07:13:21 (117 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

### Data Schema

In [ ]:
import pandas as pd

# use fastparquet engine to avoid PyArrow extension errors in this environment
df = pd.read_parquet("data/green_tripdata_2025-11.parquet", engine="fastparquet")

# take first 100 rows
df = df.head(100)


# convert datetime
df["lpep_pickup_datetime"] = pd.to_datetime(df["lpep_pickup_datetime"])
df["lpep_dropoff_datetime"] = pd.to_datetime(df["lpep_dropoff_datetime"])


parse_dates = [
    "lpep_pickup_datetime",
    "lpep_dropoff_datetime"
]

# enforce dtypes after reading
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64",
}
df = df.astype(dtype)

df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1,74,42,1,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1,74,42,2,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2,1.0,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1,83,160,1,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1,1.0,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1,166,127,1,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1,1.0,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1,166,262,1,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1,1.0,2.75,0.0

In [8]:
df.dtypes

VendorID                          Int64
lpep_pickup_datetime     datetime64[us]
lpep_dropoff_datetime    datetime64[us]
store_and_fwd_flag               string
RatecodeID                        Int64
PULocationID                      Int64
DOLocationID                      Int64
passenger_count                   Int64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                      Int64
trip_type                       float64
congestion_surcharge            float64
cbd_congestion_fee              float64
dtype: object

### Ingest Data To Postgres

In [12]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [ ]:
#  local Postgres for testing
#- docker run --name pg-local -e POSTGRES_USER=postgres -e POSTGRES_PASSWORD=postgres -e POSTGRES_DB=postgres -p 5432:5432 -d postgres:15

# Verify the DB is up
## check container logs for readiness
#- docker logs -f pg-local
## test with psql (if installed)
#- PGPASSWORD=postgres psql -h localhost -U postgres -d postgres -c '\l'

In [15]:
from sqlalchemy import create_engine
engine = create_engine("postgresql+psycopg2://postgres:postgres@localhost:5432/postgres")
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53),
	cbd_congestion_fee FLOAT(53)
)

In [ ]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace') # n = 0 just create the schema

0

In [17]:
from sqlalchemy import create_engine
import pyarrow.parquet as pq
from tqdm.auto import tqdm

parquet_file = pq.ParquetFile("data/green_tripdata_2025-11.parquet")

for batch in tqdm(
    parquet_file.iter_batches(batch_size=100_000),
    total=parquet_file.metadata.num_rows // 100_000 + 1,
    desc="Ingesting parquet"
):
    df = batch.to_pandas()
    df = df.astype(dtype)

    df.to_sql(
        name="green_tripdata_2025_11",
        con=engine,
        if_exists="append",
        index=False,
        method="multi"
    )

/usr/local/python/3.12.1/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Ingesting parquet: 100%|██████████| 1/1 [00:22<00:00, 22.53s/it]

### Add the Zone Dataset to Postgres

In [18]:
zones = pd.read_csv("data/taxi_zone_lookup.csv")

# normalize column names to match DB style
zones.columns = [c.lower() for c in zones.columns]

# define schema via pandas dtypes (similar idea to taxi trips)
zones_dtype = {
    "locationid": "Int64",
    "borough": "string",
    "zone": "string",
    "service_zone": "string"
}

zones = zones.astype(zones_dtype)

zones.head()

   locationid        borough                     zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [19]:
# Generate schema for zones df
print(
    pd.io.sql.get_schema(
        zones,
        name="taxi_zone_lookup",
        con=engine
    )
)

CREATE TABLE taxi_zone_lookup (
	locationid BIGINT,
	borough TEXT,
	zone TEXT,
	service_zone TEXT
)

In [20]:
zones.to_sql(
    name="taxi_zone_lookup",
    con=engine,
    schema="public",
    if_exists="replace",
    index=False
)

265

In [21]:
# Cleanup (when done)
#- docker stop pg-local && docker rm pg-local

In [22]:
# Read the data
green_taxi_trips = pd.read_parquet("./data/green_tripdata_2025-11.parquet", engine = "fastparquet")
zone_lkup = pd.read_csv("./data/taxi_zone_lookup.csv")

display(green_taxi_trips.head(10), zone_lkup.head(10))

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.00
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.00
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.00
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.00
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.00
5,1,2025-11-01 00:42:13,2025-11-01 01:04:50,N,1.0,112,48,2.0,5.10,26.8,...,1.5,6.55,0.0,NaN,1.0,39.35,1.0,1.0,2.75,0.75
6,2,2025-11-01 00:05:41,2025-11-01 00:39:20,N,1.0,83,87,1.0,9.80,43.6,...,0.5,9.92,0.0,NaN,1.0,59.52,1.0,1.0,2.75,0.75
7,2,2025-11-01 00:42:14,2025-11-01 01:13:20,N,1.0,66,233,1.0,5.01,28.9,...,0.5,6.98,0.0,NaN,1.0,41.88,1.0,1.0,2.75,0.75
8,2,2025-11-01 00:03:08,2025-11-01 00:06:27,N,1.0,223,223,1.0,0.63,5.1,...,0.5,1.52,0.0,NaN,1.0,9.12,1.0,1.0,0.00,0.00
9,2,2025-11-01 00:56:33,2025-11-01 01:01:34,N,1.0,130,130,1.0,1.15,7.9,...,0.5,0.00,0.0,NaN,1.0,10.40,2.0,1.0,0.00,0.00

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone
5           6  Staten Island  Arrochar/Fort Wadsworth    Boro Zone
6           7         Queens                  Astoria    Boro Zone
7           8         Queens             Astoria Park    Boro Zone
8           9         Queens               Auburndale    Boro Zone
9          10         Queens             Baisley Park    Boro Zone

In [26]:
# Merge the data sets for easier reference

# Pick Up Location
trips_and_zones = green_taxi_trips.merge(
    zone_lkup,
    left_on = "PULocationID",
    right_on = "LocationID",
    how = "left")

trips_and_zones = trips_and_zones.rename(
    columns={
        "Borough": "Borough_PU",
        "Zone": "Zone_PU",
        "service_zone": "service_zone_PU"
    }
)

trips_and_zones = trips_and_zones.drop(columns=["LocationID"])

# Drop Off Location
trips_and_zones = trips_and_zones.merge(
zone_lkup,
left_on = "DOLocationID",
right_on = "LocationID",
how = "left")

trips_and_zones = trips_and_zones.rename(
    columns={
        "Borough": "Borough_DO",
        "Zone": "Zone_DO",
        "service_zone": "service_zone_DO"
    }
)

trips_and_zones = trips_and_zones.drop(columns=["LocationID"])

trips_and_zones.head(10)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee,Borough_PU,Zone_PU,service_zone_PU,Borough_DO,Zone_DO,service_zone_DO
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,1.0,1.0,0.00,0.00,Manhattan,East Harlem North,Boro Zone,Manhattan,Central Harlem North,Boro Zone
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,2.0,1.0,0.00,0.00,Manhattan,East Harlem North,Boro Zone,Manhattan,Central Harlem North,Boro Zone
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,1.0,1.0,0.00,0.00,Queens,Elmhurst/Maspeth,Boro Zone,Queens,Middle Village,Boro Zone
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,1.0,1.0,0.00,0.00,Manhattan,Morningside Heights,Boro Zone,Manhattan,Inwood,Boro Zone
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,1.0,1.0,2.75,0.00,Manhattan,Morningside Heights,Boro Zone,Manhattan,Yorkville East,Yellow Zone
5,1,2025-11-01 00:42:13,2025-11-01 01:04:50,N,1.0,112,48,2.0,5.10,26.8,...,1.0,1.0,2.75,0.75,Brooklyn,Greenpoint,Boro Zone,Manhattan,Clinton East,Yellow Zone
6,2,2025-11-01 00:05:41,2025-11-01 00:39:20,N,1.0,83,87,1.0,9.80,43.6,...,1.0,1.0,2.75,0.75,Queens,Elmhurst/Maspeth,Boro Zone,Manhattan,Financial District North,Yellow Zone
7,2,2025-11-01 00:42:14,2025-11-01 01:13:20,N,1.0,66,233,1.0,5.01,28.9,...,1.0,1.0,2.75,0.75,Brooklyn,DUMBO/Vinegar Hill,Boro Zone,Manhattan,UN/Turtle Bay South,Yellow Zone
8,2,2025-11-01 00:03:08,2025-11-01 00:06:27,N,1.0,223,223,1.0,0.63,5.1,...,1.0,1.0,0.00,0.00,Queens,Steinway,Boro Zone,Queens,Steinway,Boro Zone
9,2,2025-11-01 00:56:33,2025-11-01 01:01:34,N,1.0,130,130,1.0,1.15,7.9,...,2.0,1.0,0.00,0.00,Queens,Jamaica,Boro Zone,Queens,Jamaica,Boro Zone

### Question 3. Counting short trips

In [23]:
november_trips = green_taxi_trips[
    (green_taxi_trips['lpep_pickup_datetime'] >= '2025-11-01') &
    (green_taxi_trips['lpep_pickup_datetime'] < '2025-12-01') &
    (green_taxi_trips['trip_distance'] <= 1)
]

short_trips_count = len(november_trips)
short_trips_count

8007

### Question 4. Longest trip for each day

In [24]:
# Extract the date from lpep_pickup_datetime and find the longest trip for each day
longest_trip_per_day = green_taxi_trips[green_taxi_trips['trip_distance'] < 100].groupby(
    green_taxi_trips['lpep_pickup_datetime'].dt.date
)['trip_distance'].max()

# Find the day with the longest trip
day_with_longest_trip = longest_trip_per_day.idxmax()
longest_distance = longest_trip_per_day.max()

print(f"Day with longest trip: {day_with_longest_trip}")
print(f"Longest trip distance: {longest_distance} miles")

Day with longest trip: 2025-11-14
Longest trip distance: 88.03 miles

### Question 5. Biggest pickup zone

In [27]:
# Filter trips for November 18th, 2025
nov_18_trips = trips_and_zones[
    trips_and_zones['lpep_pickup_datetime'].dt.date == pd.to_datetime('2025-11-18').date()
]

# Group by Zone and sum the total_amount
pickup_zone_totals = nov_18_trips.groupby('Zone_PU')['total_amount'].sum()

# Find the pickup zone with the largest total_amount
biggest_pickup_zone = pickup_zone_totals.idxmax()
largest_total = pickup_zone_totals.max()

print(f"Pickup zone with largest total_amount on Nov 18: {biggest_pickup_zone}")
print(f"Total amount: ${largest_total:.2f}")

Pickup zone with largest total_amount on Nov 18: East Harlem North
Total amount: $9281.92

### Question 6. Largest tip

In [28]:
# Filter trips with pickup zone "East Harlem North" in November 2025
east_harlem_north_pickups = trips_and_zones[
    (trips_and_zones['Zone_PU'] == 'East Harlem North') &
    (trips_and_zones['lpep_pickup_datetime'].dt.month == 11) &
    (trips_and_zones['lpep_pickup_datetime'].dt.year == 2025)
]

east_harlem_north_pickups = east_harlem_north_pickups.groupby(
    trips_and_zones['Zone_DO'])['tip_amount'].max()

zone = east_harlem_north_pickups.idxmax()
amt = east_harlem_north_pickups.max()

print(f"Dropoff zone with largest tip: {zone}")
print(f"Tip amount: ${amt:.2f}")

Dropoff zone with largest tip: Yorkville West
Tip amount: $81.89